body {
  margin: 0;
  padding: 0;
  background-color: #fef6e4;
  font-family: 'Comic Sans MS', cursive;
  text-align: center;
}

h1 {
  margin-top: 20px;
  color: #ff5d8f;
}

#pizarra {
  position: relative;
  width: 100%;
  height: 90vh;
  background: url('https://www.reddit.com/media?url=https%3A%2F%2Fi.redd.it%2Fharry-potter-slytherin-wallpaper-4096x2304-v0-5a7zp1tbbldc1.png%3Fwidth%3D4096%26format%3Dpng%26auto%3Dwebp%26s%3D4654ef8d2bfbbe1e8712ba2cc1f492d676a568c3'); /* imagen tipo corcho */
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.postit {
  width: 150px;
  height: 150px;
  background-color: #fdfd96; /* amarillo pastel */
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: rotate(calc(-5deg + 10deg * var(--rot)));
  overflow: hidden;
  word-wrap: break-word;
}

.postit.enlarged {
  z-index: 999;
  transform: scale(1.5) rotate(0deg);
  background-color: #fffacd;
}
